{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="robots" content="noindex, nofollow">
    <meta name="robots" content="noarchive, nocache">
    <title>Index home page</title>
{#    <link rel="shortcut icon" href="{% static 'img/favicon-1.ico' %}">#}
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'page_views/css/index.css' %}">
    <meta charset="UTF-8">
</head>
<body>
    <div class="logo"></div>
    <img src="{% static "page_views/img/logo.png" %}" class="test" alt="My image"/>
    <h1>Hello world</h1>
</body>
</html>